html, body {
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

body { padding-top: 100px; }

.navbar-custom {
    background-color: #3c6cce !important;
    background-image: none !important;
}

.navbar-custom a {
    color: white !important;
}

.white {
    color: white;
}

html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#intro {
    min-height: 460px;
}

#intro h1 {
    margin-top: 25%;
}

#landing-panel-1 {
    margin-top: 10%;
    margin-bottom: 20%;
}