html, body {
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.white {
    color: white;
}

html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#intro {
    min-height: 460px;
}

#intro h1 {
    margin-top: 25%;
}

#landing-panel-1 {
    margin-top: 10%;
    margin-bottom: 10%;
}