<div id="frontPage" class="panel1" style="padding: 100px 0;">
    <div ng-view>
    </div>
</div>

@section Scripts {
   <script type="text/javascript">
       $(document).ready(function () {
           if (window.location.href.indexOf('#') < 0) {
               document.location.href = '/#/Landing';
           }
        });
    </script>
    @Scripts.Render("~/bundles/ReviewsJoy")
}