<div class="text-center">
    <h1 class="white">ReviewsJoy !</h1>
    <br />
    <h2 class="white">Taking Reviews To The Next Level</h2>
    <br />
    <br />
    <button id="searchNowBtn" class="btn btn-danger" ng-click="toggle()">Search Now</button>
</div>