<div id="intro" class="text-center" ng-init="init()">
    <div class="container">
        <h1 class="white">ReviewsJoy</h1>
        <br />
        <br />
        <button id="searchNowBtn" class="btn btn-danger" ng-click="toggle()" ng-hide="showSearch">Search Now</button>
        <div id="searchNow" class="col-xs-8 col-xs-offset-2" ng-show="showSearch">
            <form>
                <div class="input-group">
                    <input id="searchTxtBx" type="text" class="form-control" placeholder="Name or Address" ng-model="searchText" ng-change="autoComplete()" />
                    <span class="input-group-btn">
                        <button id="searchBtn" class="btn btn-primary" type="button" ng-disabled="searchBtnDisabled" ng-click="search()">Search</button>
                    </span>
                </div>
                <br />
                <img align="right" src="~/Content/powered_by_google_on_white.png" />
            </form>
        </div>
    </div>
</div>
<div id="landing-panel-1" class="container">
    <div class="wow fadeIn text-center" data-wow-duration="2s">
        <h2>Why ReviewsJoy?</h2>
    </div>
    <br />
    <div class="row">
        <div class="wow fadeIn col-xs-5" data-wow-delay="1s" data-wow-duration="2s" style="background-color: aquamarine">
            <h3><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Categorized Reviews</h3>
            <h4>No more looking through hundreds of reviews for the one you want.</h4>
        </div>
            <div class="wow fadeIn col-xs-5 col-xs-offset-1" data-wow-delay="2s" data-wow-duration="2s" style="background-color: lightskyblue;">
                <h3><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Public voting</h3>
                <h4>The best reviews are voted to the top.</h4>
            </div>
    </div>
    <br />
    <div class="row">
        <div class="wow fadeIn col-xs-5" data-wow-delay="1.5s" data-wow-duration="2s" style="background-color: khaki">
            <h3><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Create your own categories</h3>
            <h4>Create reviews to be as specific as you want.</h4>
        </div>
        <div class="wow fadeIn col-xs-5 col-xs-offset-1" data-wow-delay="2.5s" data-wow-duration="2s" style="background-color: lightgreen">
            <h3><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> No sign-up necessary</h3>
            <h4>Create content with no strings attached.</h4>
        </div>
    </div>
</div>
