<div id="intro" class="text-center" ng-init="init()">
    <div class="container wow fadeIn" data-wow-delay="1s" data-wow-duration="2s">
        <h1 class="white">ReviewsJoy</h1>
        <br />
        <br />
        <button id="searchNowBtn" class="btn btn-danger" ng-click="toggle()">Search Now</button>
    </div>
</div>
