<div class="text-center">
    <h1>ReviewsJoy</h1>
    <br />
    <h2>Taking Reviews To The Next Level</h2>
    <br />
    <br />
    <button id="searchNowBtn" class="btn btn-danger" ng-click="toggle()">Search Now</button>
    @*<div id="searchNow" ng-hide="hideSearchBtn">
        <form class="form-inline" role="form">
            <div class="input-group">
                <input id="searchTxtBx" type="text" class="form-control" placeholder="Address" ng-model="searchText" />
                <span class="input-group-btn">
                    <button id="searchBtn" class="btn btn-primary" type="button" ng-click="search()">Search</button>
                </span>
            </div>
        </form>
    </div>*@
</div>