@Html.Partial("~/Views/Shared/_Navbar.cshtml")

<div id="generalReviews" ng-init="init('@ViewBag.GeneralReviews', '@ViewBag.CategorizedReviews', '@ViewBag.locationId', '@ViewBag.placeId');"
     ng-hide="hideReviews">
    <div class="row">
        <div class="col-xs-12" ng-show="isNoReviews()">
            <h1>Sorry, there are no reviews at this time. Add one now!</h1>
        </div>
        <div class="col-xs-6" ng-hide="isNoReviews()">
            General Reviews:
            <div ng-repeat="g in GeneralReviews" ng-hide="isNoReviews()">
                <div class="review">
                    {{ g.ReviewText }}
                    <div class="text-right">
                        <span ng-repeat="n in [] | range:g.Stars" class="glyphicon glyphicon-star"></span>
                        <br />
                        {{ g.Author }}&nbsp;&nbsp;
                    </div>
                </div>
                <br />
            </div>
        </div>
        <div class="col-xs-6" ng-hide="isNoReviews()">
            Categorized Reviews:
            <div ng-repeat="c in CategorizedReviews" ng-hide="isNoReviews()">
                {{ c.ReviewText }}
                <br />
                &nbsp;&nbsp;{{ c.Category.Name }}
            </div>
        </div>
        <div class="col-xs-12" ng-hide="isNoReviews()">
            Get more speficic reviews by searching with a category
            <br />
            <input type="text" placeholder="Category" class="form-control" ng-model="categoryTxtBx" />
            <button class="btn btn-primary" ng-click="searchByCategoy()">Submit</button>
        </div>
    </div>
    <br />
    <br />
</div>
    <button class="btn btn-primary" ng-click="toggleGenForm()">Add a General Review</button>
    &nbsp;- OR -&nbsp;
    <button class="btn btn-danger" ng-click="toggleCatForm()">Add a Categorized Review</button>

<div ng-hide="hideGenForm">
    <div class="row">
        <div class="col-xs-12">
            <input id="nameTxtBx" type="text" placeholder="Name" class="form-control" ng-model="nameTxtBx" />
            <textarea id="reviewTxtBx" type="text" placeholder="Review" rows="4" class="form-control" ng-model="reviewTxtArea"></textarea>
            <button id="submitBtn" class="btn btn-primary" ng-click="submitGeneralReview()">
                Submit
            </button>
        </div>
    </div>
</div>

<div ng-hide="hideCatForm">
    <div class="row">
        <div class="col-xs-12">
            <input id="nameTxtBx" type="text" placeholder="Category" class="form-control" ng-model="nameTxtBx" />
            <textarea id="reviewTxtBx" type="text" placeholder="Review" rows="4" class="form-control" ng-model="reviewTxtArea"></textarea>
            <button id="submitBtn" class="btn btn-primary" ng-click="submitReview()">
                Submit
            </button>
        </div>
    </div>
</div>