@model List<ReviewsJoy.Models.Review>

<div ng-init="init('@ViewBag.model')">
    <div ng-repeat="r in model">
        <label>{{ ::r.ReviewText }}</label>
        <br />
        &nbsp;&nbsp;<label>{{ ::r.Author }}</label>
    </div>
</div>
