@model List<ReviewsJoy.Models.Review>

<div ng-init="init('@ViewBag.model')">
    @*@foreach (var r in Model)
    {
        @r.ReviewText
        <br />
        @r.Author
    }*@

    <button ng-click="alert()">Test</button>
</div>